@using BibleVerseApp.Models
@model BibleVerseApp.Models.VerseModel


<h2 align="center">The criteria you searched did not return any verses in our archive. Consider adding the verse with the verse insertion tool.</h2>

