@using BibleVerseApp.Models
@model BibleVerseApp.Models.VerseModel

<div align="center">
    <h2>
        @Model.Book
    </h2>
    <h2>
        @Model.Chapter | @Model.Verse
    </h2>

    <h3>
        @Model.VerseText
    </h3>
</div>

